body {
   font-family: system-ui;
   font-size:90%;
   background-color: rgb(39, 35, 35);
}

#image {
   background: url("fond.jpg");
   opacity: 0.5;
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

header {
   font-size:14px;
   height: 40px;
   width: 88%;
   position: absolute;
   right: 0;
   top: 0;
   background-color: #5CADD3;
}

#application {
   text-decoration: none;
   color: white;
}

#application:active {
   color: rgba(56, 122, 188, 1);
}

#application[tabindex]:focus {
   color: #5CADD3;
   border-left: 1px solid white;
   transition-duration: 0.5s;
   margin-left: 10%;
   padding-left: 5%;
   transform : rotate(45deg);
   outline: none;
}

#sidebar{
   width:12%;
   height: 617px;
   position: absolute;
   left: 0px;
   top: 40px;
   background-color: rgba(29, 28, 35, 1);
}

#bar {
   width: 12%;
   height: 40px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   background-color :  #2c83ac;
   overflow: hidden;
}

#bar h4 {
   position: relative; 
   top : -35%;
   color: white; 
   font-size: medium;
   text-align: center;
   z-index: 5;
   text-overflow: ellipsis;
}

#hamburger {
   position: absolute;
   left: 2%;
   top: 8%;
   cursor: pointer;
}



#hamburger span {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#navigations {
   position: relative;
   padding-left: 10%;
}

.lien {
   color : white;
   text-decoration: none;
   text-align: center;
   display: block;
   width: 100%;
   height: 80%;
   padding-top: 10px;
   position: absolute;
   top: 0px;
   left: 0px;
}

.lien_nav {
   text-decoration: none;
   padding: 15px;
   color: white;
}


header div{
   margin-top: 0.7%;
}

#centre{
   position: relative;
   left: 10%;
   min-width: 40px;
   max-width: 108px;
   height: 25px;
   padding: 10px;
   background-color: #5CADD3;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
}

#centre:hover {
   background-color: #2c83ac;
}


ul {
   position: absolute; 
   top : 2%;
   right: 0%;
   width: 100%;
   text-align: center;
}


p {
    color : white;
}

#presentation {
   position: relative;
   text-align:justify;
   color: white;
}

#bloc_index {
   position: absolute;
   top: 20%;
   left: 10%;
   width: 40%;
}

.applicationText{
   position: absolute;
   top: 25%;
   left: 15%;
   width: 80%;
   text-align:justify;
}

#cache {
    display : none;
    border : 1px solid silver;
    background-color: yellow;
}
.montrer:active

 
 .container{
    max-width:200px;
    background:rgba(0, 0, 0, 0.75);
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #111;
    border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
 }
 .link{
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
 }
 .link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:50%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
 }
 .link:hover:after,
 .link.hover:after{
    left:100%;
 }
 .link .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;
    transform:translateY(100%) translateZ(0);
    transition-delay:all 0.25s;
 }
 .link:hover .text,
 .link.hover .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
 }

 #particles-js {
   position: absolute;
   top: 8%;
   right: 0;
   width: 100%;
   height: 90%;
   background: black;
 }
 
 #lien2 {
  color: orange;
  background-color: transparent;
  text-decoration: none;
 }
